DATABASE_URL=postgresql://vault_user:vault_pass@localhost:5432/vault_db	#Conexión a PostgreSQL (desarrollo)
TEST_DATABASE_URL=postgresql://vault_user:vault_pass@localhost:5432/vault_test_db	#Conexión a PostgreSQL (tests)
SECRET_KEY=	# ¡CAMBIAR! Generar con: openssl rand -hex 32.
ALGORITHM=HS256	#Algoritmo JWT
ACCESS_TOKEN_EXPIRE_MINUTES=15	#Duración del token
COOKIE_SECURE=0 #1=Prod 0=Dev
VAULT_CACHE_DIR=app/tmp_vault_sessions